.projects {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    @include section-title;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
    align-items: stretch;
    gap: 20px;
    list-style-type: none;
  }

  &__item {
    text-decoration: none;
  }

  &__photo {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 89 / 116;
    object-fit: cover;
  }

  //&__text {
  //  width: 445px;
  //  box-sizing: border-box;
  //  padding: 22px 20px;
  //  background: $text-color;
  //  opacity: .5;
  //  @include section-text;
  //  color: $white;
  //}
}