include ../../../views/helpers/mixins

section#projects.projects
  h2.projects__title Проекты
  ul.projects__list
    +photo('./img/img-collage1.jpg', '#', 'Тумба под телевизор')
    +photo('./img/img-collage2.jpg', '#', 'Встроенная кухня')
    +photo('./img/img-collage3.jpg', '#', 'Стеллаж для книг')
    +photo('./img/img-collage4.jpg', '#', 'Тумбы для прихожей')
    +photo('./img/img-collage5.jpg', '#', 'Кровать')
    +photo('./img/img-collage6.jpg', '#', 'Комод')

  div.swiper.projects__swiper
    ul.swiper-wrapper
      +photo('./img/img-collage1.jpg', '#', 'Тумба под телевизор').swiper-slide
      +photo('./img/img-collage2.jpg', '#', 'Встроенная кухня').swiper-slide
      +photo('./img/img-collage3.jpg', '#', 'Стеллаж для книг').swiper-slide
      +photo('./img/img-collage4.jpg', '#', 'Тумбы для прихожей').swiper-slide
      +photo('./img/img-collage5.jpg', '#', 'Кровать').swiper-slide
      +photo('./img/img-collage6.jpg', '#', 'Комод').swiper-slide
    div.swiper-button-prev
    div.swiper-button-next
