//layout-section
@mixin grid-layout {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  row-gap: 40px;
}

@mixin masonry($minmax) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minmax, 1fr));
  gap: 20px;
}

//fonts
@mixin section-title {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: $main;
}

@mixin section-text {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $main;
}

@mixin list-title {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: $main;
}

//media queries
@mixin clamp-title {
  font-size: clamp(28px, 4vw, 48px);
}
