// fonts
$font-primary: 'Roboto-Regular', Arial, Helvetica, sans-serif;
$font-title: 'Helvetica', Arial, Helvetica, sans-serif;
$font-medium: 'Roboto-Medium', Arial, Helvetica, sans-serif;
$font-bold: 'Helvetica-Bold', Arial, Helvetica, sans-serif;

// accent colors
$text-color: #212529;
$beige: #ddd7c0;
$red: #e13a3a;
$orange: #f9c67b;
