// fonts
$font-primary: 'Roboto-Regular', Arial, Helvetica, sans-serif;
$font-medium: 'Roboto-Medium', Arial, Helvetica, sans-serif;

// colors
$text-color: #212529;
$overlay: rgba(33, 37, 41, 0.5);
$beige: #ddd7c0;
$red: #e13a3a;
$orange: #f9c67b;
$white: #fff;