.header {
  margin-left: 32px;
  margin-right: 32px;
  box-sizing: border-box;
  padding: 12px 0 40px;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 40px;
  }

  &__nav {
    display: flex;
    gap: 220px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    padding-bottom: 2px;
    @include section-text;
  }

  &__burger {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    align-items: center;

    &__nav {
      display: none;
    }

    &__burger {
      z-index: 2;
      display: block;
      position: fixed;
      top: 12px;
      right: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px 0 20px;

    &__logo {
      width: 26px;
    }

    &__burger {
      top: 8px;
      right: 16px;
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 8px;
    margin-right: 8px;

    &__burger {
      right: 8px;
    }
  }
}
