mixin anchor(title, url)
  li
    a.menu__link.link-hover(href=url)= title

mixin link(title, url)
  li
    a.menu__link.menu__link_social.link-hover(href=url target='_blank')= title

div.menu
  div.overlay
  div.menu__container
    div.menu__content
      div.menu__header
        +logo.menu__logo
        button.btn.btn_menu.btn_menu_close(type='button' aria-label='Закрыть меню' aria-expanded='true')
      ul.menu__list
        +anchor('О нас', '#about')
        +anchor('Проекты', '#projects')
        +anchor('Материалы', '#')
        +anchor('Отзывы', '#reviews')
      a.menu__link(href='tel:79999999999') +7 999 999 99 99
      ul.menu__list
        +link('Вконтакте', 'https://vk.com/')
        +link('Телеграм', 'https://web.telegram.org/k/')