mixin list(title, url, extraClass)
  li
    a.menu__link.link-hover(class!=extraClass)(href=url)= title

div.menu.menu_opened
  div.overlay
  div.menu__container
    div.menu__content
      div.menu__heder
        +logo('menu__logo')
        button.btn.btn_menu.btn_menu_close(type='button' aria-label='Закрыть меню' aria-expanded='true')
      ul.menu__list
        +list('О нас', '#about')
        +list('Проекты', '#projects')
        +list('Материалы', '#')
        +list('Отзывы', '#reviews')
      a.menu__link(href='tel:79999999999') +7 999 999 99 99
      ul.menu__list
        +list('Вконтакте', '#', 'menu__link_social')
        +list('Телеграм', '#', 'menu__link_social')