.about {
  @include grid-layout;

  &__title {
    grid-column: span 8;
    @include section-title;
    line-height: 140%;
  }

  &__info {
    grid-column: 11 / 17;
    display: grid;
    row-gap: 16px;
  }

  &__list {
    grid-column: 11 / 14;
    grid-row: 2;
    display: grid;
    row-gap: 24px;
    list-style-type: none;
  }

  &__text {
    @include section-text;
  }

  &__number {
    @include list-title;
  }
}
