section#about.about
  h2.about__title Более 5 лет создаем мебель для вашего комфорта
  div.about__info
    p.about__text Мы — команда профессионалов, которые могут произвести любую мебель для вашего проекта, а также найти производственное решение любой задумки.
    p.about__text Наша основная цель — реализовывать самые смелые задумки, и делать это качественно и аккуратно.
    p.about__text В качестве материалов мы используем натуральные — стекло, дерево, бетон, камень, металл и эпоксидную смолу.
  ul.about__numbers
    li
      p.about__number 1 год
      p.about__text гарантии на всю продукцию
    li
      p.about__number 300+
      p.about__text выполненных проектов
    li
      p.about__number 15 дней
      p.about__text срок производства