.about {
  @include grid-layout;

  &__title {
    grid-column: span 8;
    @include section-title;
    line-height: 140%;

    &_mobile {
      display: none;
    }
  }

  &__info {
    grid-column: 11 / 17;
    display: grid;
    row-gap: 16px;
  }

  &__list {
    grid-column: 11 / 14;
    grid-row: 2;
    display: grid;
    row-gap: 24px;
    list-style-type: none;
  }

  &__text {
    @include section-text;
  }

  &__number {
    @include list-title;
  }
}

@media screen and (max-width: 1260px) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about__title {
    @include clamp-title;
    display: none;

    &_mobile {
      display: block;
    }
  }

  .about__number {
    font-size: clamp(20px, 3vw, 36px);
  }
}

@media screen and (max-width: 630px) {
  .about__list {
    width: 50%;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
  }

  .about__item {
    align-items: start;
  }
}
