extends layouts/default
include helpers/mixins

block variables
    - const title = "Aveji"

block content
  include ../blocks/modules/intro/intro
  include ../blocks/modules/about/about
  include ../blocks/modules/algorithm/algorithm
  include ../blocks/modules/projects/projects
  include ../blocks/modules/reviews/reviews
  include ../blocks/modules/feedback/feedback
