.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__group {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    padding: 5px 2px 12px;
    border: none;
    border-bottom: 1px solid $text-color;
    outline-color: transparent;

    &:focus {
      border-bottom: 1px solid $beige;
    }

    &:focus ~ .form__label,  /* фокус на input */
    &:not(:placeholder-shown) ~ .form__label  /* в input есть значение */  {
      font-size: 13px;
      top: -13px;
    }

    &:invalid:not(:placeholder-shown) /* в input невалидное значение */ {
      border-bottom: 1px solid $red;
    }
  }

  &__label {
    @include section-text;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: .3s;
  }

  &__btn {
    margin-top: 10px;
    max-width: 176px;
  }
}
