.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    padding: 5px 2px 12px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $text-color;
    background-color: transparent;
    outline-color: transparent;

    &:focus ~ .form__label, /* фокус на input */
    &:not(:placeholder-shown) ~ .form__label /* в input есть значение */ {
      font-size: 13px;
      top: -13px;
    }

    &-error {
      display: none;
      @include section-text;
      font-size: 13px;
      color: $red;
      position: absolute;
      top: -13px;
      right: 0;

      &_active {
        display: block;
      }
    }

    &_type_error {
      border-bottom: 1px solid $red;
    }
  }

  &__label {
    @include section-text;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    transition: .3s;
  }

  &__btn {
    margin-top: 10px;
    max-width: 176px;

    &_disabled {
      pointer-events: none;
    }
  }
}
