.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include section-text;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $text-color;
  }

  &__btn {
    margin-top: 10px;
    max-width: 176px;
  }
}
