.reviews {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    @include section-title;
  }

  &__list {
    @include masonry(304px);
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    gap: 20px;

    &__list {
      display: none;
    }
  }
}

