include ../../../views/helpers/mixins

mixin review(title, text, extraClass)
  li.reviews__item(class!=extraClass)
    +svg('quotes').reviews__svg
    h4.reviews__item-title=title
    p.reviews__item-text=text

section#reviews.reviews
  h2.reviews__title Отзывы
  ul.reviews__list
    +review('Игорь Антонов', 'Обратился к Aveji по рекомендации. Команда сразу поняла, какой дизайн я хочу. ' +
                             'Предоставили несколько вариантов и в течение недели сделали наброски. ' +
                             'Итог понравился, все на высшем уровне.')

    +review('Ольга Иванова', 'После пары заказов у компании Aveji убедилась, что за мебелью теперь только к ним. ' +
                             'Абсолютно любые решения, в любых размерах и форм-факторе, то что нужно!')

    +review('Аркадий Макаров', 'Aveji — настоящие профессионалы своего дела. Быстро поняли мою задумку, ' +
                               'сделали дизайн, согласовали и изготовили мебель. ' +
                               'А потом еще и бесплатно все собрали на месте. Большое спасибо!')

  div.swiper.reviews__swiper
    ul.swiper-wrapper.swiper-wrapper_bottom
      +review('Игорь Антонов', 'Обратился к Aveji по рекомендации. Команда сразу поняла, какой дизайн я хочу. ' +
      'Предоставили несколько вариантов и в течение недели сделали наброски. ' +
      'Итог понравился, все на высшем уровне.',
      'swiper-slide')

      +review('Ольга Иванова', 'После пары заказов у компании Aveji убедилась, что за мебелью теперь только к ним. ' +
      'Абсолютно любые решения, в любых размерах и форм-факторе, то что нужно!',
      'swiper-slide')

      +review('Аркадий Макаров', 'Aveji — настоящие профессионалы своего дела. Быстро поняли мою задумку, ' +
      'сделали дизайн, согласовали и изготовили мебель. ' +
      'А потом еще и бесплатно все собрали на месте. Большое спасибо!',
      'swiper-slide')
    div.swiper-pagination