.reviews {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    @include section-title;
  }

  &__list {
    @include masonry(304px);
  }

  &__item {
    box-sizing: border-box;
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid $text-color;
  }

  &__svg {
    width: 40px;
    height: 40px;
  }

  &__item-title {
    margin-top: 10px;
    @include section-text;
    font-family: $font-medium;
    font-weight: 500;
    font-size: 18px;
  }

  &__item-text {
    @include section-text;
    text-align: center;
    min-height: 135px;
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    gap: 20px;

    &__list {
      display: none;
    }

    &__title {
      @include clamp-title;
    }
  }
}
