mixin item(title, subtitle)
  li.algorithm__item
    h3.algorithm__item-title= title
    p.algorithm__item-text= subtitle

section#algorithm.algorithm
  h2.algorithm__title Как мы работаем
  p.algorithm__subtitle Алгоритм работы с нами для удобства и&nbsp;понимания проекта
  ul.algorithm__list
    +item('Идея', 'Клиент приходит к нам с идеей. Это может быть изображение/ эскиз или другой референс. А мы думаем над тем, как это реализовать, делаем технические чертежи и предлагаем решения по материалам.')
    +item('Техническое задание', 'Вместе с клиентом формулируем корректное ТЗ, которое включает в себя визуализацию изделия, эскизный чертёж с габаритами, информацию по материалам и отделке, срок реализации проекта и другие обязательные пункты.')
    +item('Коммерческое предложение', 'Предпочтительно используем натуральные материалы. Но любую смету можем оптимизировать, упростив материалы или конструктив. Сможем подстроиться под бюджет клиента и согласуем коммерческое предложение')
    +item('Подготовка рабочего проекта', 'Создадим рабочую документацию и чертежи. Это фундамент качественного производства. На этом этапе утверждаем с клиентом все габариты и материалы, чертежи и приступаем к производству.')
    +item('Производство и монтаж', 'Производство занимает от 15 рабочих дней, в зависимости от сложности и объёма. Монтажом тоже занимаемся самостоятельно. Ведь мы это сделаем быстро и аккуратно.')
