.algorithm {
  @include grid-layout;

  &__title {
    @include section-title;
    grid-column: span 8;
  }

  &__subtitle {
    @include section-text;
    grid-column: 11 / 16;
  }

  &__list {
    grid-column: 11 / 21;
    grid-row: 2;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid $text-color;
  }

  &__item-title {
    @include list-title;
    grid-column: 1 / 4;
  }


  &__item-text {
    @include section-text;
    grid-column: 4 / 7;
  }
}
