.link-hover {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border: none;
    width: 0;
    height: .5px;
    background: $text-color;
    transition: .3s;
  }

  &:hover:after {
    width: 100%;
  }
}
