.footer {
  margin-left: 32px;
  margin-right: 32px;
  box-sizing: border-box;
  padding: 50px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include section-text;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__policy {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style-type: none;
  }

  &__social {
    display: flex;
    gap: 40px;
    list-style-type: none;
    text-transform: uppercase;
  }

  &__link {
    padding-bottom: 2px;
    @include section-text;
    text-decoration: none;
  }

  &__slash {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-left: 16px;
    margin-right: 16px;

    &__slash {
      display: none;
    }

    &__policy {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;

    &__copyright {
      align-items: center;
    }
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-left: 8px;
    margin-right: 8px;
  }
}
