mixin item(title, href)
  li
    a.footer__link.link-hover(href=href)= title

footer.footer
  div.footer__copyright
    p &copy; 2023 Aveji
    p Все права защищены
  ul.footer__policy
    +item('Политика конфеденциальности', '#')
    span /
    +item('Оплата и доставка', '#')
  ul.footer__social
    +item('Вконтакте', '#')
    +item('Телеграм', '#')
