mixin item(title, href)
  li
    a.footer__link.link-hover(href=href target='_blank')= title

footer.footer
  div.footer__copyright
    p &copy; 2024 Aveji
    p Все права защищены
  ul.footer__policy
    +item('Политика конфиденциальности', './files/privacy-policy.pdf')
    li.footer__slash /
    +item('Оплата и доставка', './files/payment-and-delivery.pdf')
  ul.footer__social
    +item('Вконтакте', 'https://vk.com/')
    +item('Телеграм', 'https://web.telegram.org/k/')
