.footer {
  box-sizing: border-box;
  padding: 40px 32px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include section-text;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__policy {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style-type: none;
  }

  &__social {
    display: flex;
    gap: 40px;
    list-style-type: none;
    text-transform: uppercase;
  }

  &__link {
    padding-bottom: 2px;
    @include section-text;
    text-decoration: none;
  }
}
