section#intro.intro
  h1.intro__title Эксклюзивная и&nbsp;нестандартная мебель для дома
  p.intro__subtitle Мы можем произвести любую мебель для вашего проекта и найти производственное решение любой задумки.
  a.btn.btn_secondary.intro__order(href="#feedback") Заказать проект
  img.intro__img.intro__img_big(src='./img/image1.jpg' alt='Наша мебель')
  img.intro__img.intro__img_small(src='./img/image2.jpg' alt='Наша мебель')
