.intro {
  @include grid-layout;
  width: 100%;
  margin-bottom: 100px;

  &__title {
    grid-column: span 11;
    @include section-title;
    font-size: clamp(32px, 18px + 3.8vw, 72px);
    line-height: 120%;
    text-transform: uppercase;
  }

  &__subtitle {
    grid-row: 2;
    grid-column: span 6;
    @include section-text;
    font-size: 20px;
    color: $text-color;
  }

  &__order {
    grid-column: 18 / 21;
    align-self: end;
    justify-self: end;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &_big {
      grid-row: 2 / 4;
      grid-column: 11 / 21;
    }

    &_small {
      grid-row: 3;
      grid-column: span 5;
    }
  }
}

@media (max-width: 1260px) {
  .intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .intro__order {
    align-self: start;
  }

  .intro__img_small {
    display: none;
  }
}

@media (max-width: 1024px) {
  .intro__img_big {
    max-height: 500px;
  }
}


@media (max-width: 768px) {
  .intro__subtitle {
    font-size: clamp(16px, 3vw, 18px);;
  }

  .intro__img_big {
    max-height: 400px;
  }
}

@media (max-width: 320px) {
  .intro__img_big {
    max-height: 260px;
  }
}
