mixin icon(src, href, alt)
  a(href=href target='_blank')
    img.feedback__icon(src=src alt=alt)

section#feedback.feedback
  img.feedback__img(src='./img/image3.png' alt='Наша мебель')
  div.feedback__wrap
    h2.feedback__title Хотите заказать проект?
    p.feedback__subtitle Оставьте заявку, и мы вам перезвоним
    p.feedback__message Заявка отправлена успешно!
    include ../../modules/form/form
    div.feedback__icons
      +icon('./img/icon/appStore.svg', 'https://www.apple.com/app-store/', 'Apple Store')
      +icon('./img/icon/googlePlay.svg', 'https://play.google.com/store/', 'Google Play')