mixin icon(src, alt, href)
  a(href=href target='_blank')
    img.feedback__icon(src=src alt=alt)

section#feedback.feedback
  img.feedback__img(src='./img/image3.png' alt='Наша мебель')
  div.feedback__wrap
    h2.feedback__title Хотите заказать проект?
    p.feedback__subtitle Оставьте заявку, и мы вам перезвоним
    p.feedback__message Заявка отправлена успешно!
    include ../../modules/form/form
    div.feedback__icons
      +icon('./img/icon/appStore.svg', 'Apple Store', 'https://www.apple.com/app-store/')
      +icon('./img/icon/googlePlay.svg', 'Google Play', 'https://play.google.com/store/')