section#feedback.feedback
  img.feedback__img(src='./img/image3.png' alt='Наша мебель')
  div.feedback__wrap
    h2.feedback__title Хотите заказать проект?
    p.feedback__subtitle Оставьте заявку, и мы вам перезвоним
    include ../../modules/form/form
    div.feedback__icons
      a.feedback__icon(href='https://www.apple.com/app-store/' target='_blank')
        include ../../../img/icon/appStore.svg
      a.feedback__icon(href='https://play.google.com/store/apps?hl=ru&gl=RU' target='_blank')
        include ../../../img/icon/googlePlay.svg
